extends layout

block content

  .container
    .row
      .col-xs-10.col-xs-offset-1.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3.center-content
        form.text-center#logReg(action='/login', method='post')
          h1 Login
          div
            input(type='email', name='username', placeholder='Username', autofocus)
          div
            input(type='password', name='password', placeholder='Password')
          div
            button.btn.btn-lg.btn-primary.btn-block(type='submit') Enter Homazon
          div
            button.btn.btn-lg.btn-primary.btn-block(type='submit' href='/auth/facebook') Login with Facebook
          div
            a(href='/signup') No account? Sign up now!