extends layout

block content
  h1= "Products"
  .product-container
  for product in products
    .product      
      img(src= product.imageUri width="150px")
      .product-info
        a(href="product/"+product._id) 
          h3= product.title
        h4= product.description

