extends layout

block content
	h1= "Products"
	for product in products
		.product
			a(href="product/"+product._id) !{product.title}
			h4= product.description
			img(src= product.imageUri width="150px")

